{% if user and not user.is_anonymous %}
  <a>Hello, {{ user.get_full_name }}!</a>
  <br>
  <a href="/logout">Logout</a>
{% else %}
    API_KEY = '7522okfvc7gkp8'
    API_SECRET = 'dQqSsfyiW0H7a2BP'
    RETURN_URL = 'http://127.0.0.1:8000/get_access_token'
    authentication = LinkedInAuthentication(API_KEY, API_SECRET, RETURN_URL,
                                            ['r_publicprofile'])
    print authentication.authorization_url
    application = LinkedInApplication(authentication
{% endif %}
